.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/showcase.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/showcase2.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/showcase3.jpg);
}
